/* ################################## */
            /*Responsive*/
/* ################################## */
@import url(responsive.css);
/* ################################## */
            /*Responsive*/
/* ################################## */
/* ################################## */
            /*Fonts*/
/* ################################## */
@font-face {
    font-family: "Gordita";
    src: url("../../media/fonts/Gordita-Regular.otf") format("truetype");
}
/* ################################## */
            /*Fonts*/
/* ################################## */

/* Your Style */

/* Header */
header {
    height: 6.40625vw;
    width: 95.677vw;
    margin: 2.5vw 2.604vw 1.875vw 1.719vw;
    display: flex;
    flex-direction: row;
    border-radius: 1.5625vw;
    background: #F2F3FE;
    backdrop-filter: blur(2px);
}

.logo-container {
    margin: 2.292vw 10.417vw 0 6.979vw;;
    cursor: pointer;
    display: flex;
}
.logo-container svg {
    width: 8.958333vw;
    height: 1.822917vw;
}

.nav-bar {
    display: flex;
    width: 42.969vw;
    height: 4.479167vw;
    padding: 1.614583vw 3.229167vw;
    margin: .963542vw 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.302083vw;
    background: #FFF;
}
.nav-bar li {
    cursor: pointer;
    color: #000;
    font-size: 1.09375vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
    opacity: 0.8;
}

.nav-resources {
    display: flex;
    align-items: center;
    gap: .260417vw;
}
.nav-resources svg {
    width: 1.302083vw;
    height: 1.302083vw;
}

.nav-button {
    width: 14.792vw;
    height: 3.646vw;
    display: inline-flex;
    padding: 0.938vw 2.24vw;
    margin: 1.354vw 0 0 5.313vw;
    justify-content: center;
    align-items: center;
    gap: .520833vw;
    border-radius: .78125vw;
    background: #1F4283;
    border: none;
    cursor: pointer;
}
.nav-button p {
    color: #FFF;
    text-align: right;
    font-size: 1.302083vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
}
.nav-button svg {
    width: 1.770833vw;
    height: 1.770833vw;
}
/* Header End */

/* Home */

/* Container1 */

.content1-2-container {
    display: flex;
    flex-direction: row;
    gap: .9375vw;
    margin-bottom: 3.958333vw;
}

.content1-container1 {
    width: 59.688vw;
    height: 43.281vw;
    border-radius: 1.822917vw;
    background: #1F4283;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 2.604167vw;
}

.background1 {
    width: 62.1vw;
    height: 46.5vw;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.content1-container1-content {
    position: absolute;
}

.title-content1-container{
    margin: 9.625208vw 0 0 5.104167vw;
}
.title-content1-container h2 {
    font-size: 4.6875vw;
    color: #FFF;
    font-family: Gordita;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -.1875vw;
}
.title-contet1-container span {
    color: #FFF;
    font-family: Gordita;
    font-size: 4.6875vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.1875vw;
}

.card1-container1 {
    display: flex;
    flex-direction: row;
}

.subtitle-buttons--content1-container1 {
    margin: 2.5vw 0 0 5.3125vw;
}

.subtitle-content1-container {
    color:  #F2F3FE;
    font-family: "PP Neue Montreal";
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.buttons-content1-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.197917vw;
    margin: 3.697917vw 0 1.302083vw 0;
}

.get-free-btn {
    border-radius: .78125vw;
    background: #FFF;
    cursor: pointer;
    width: 12.8125vw;
    height: 4.895833vw;
    color: #0B1831;
    text-align: center;
    font-family: Gordita;
    font-size: 1.302083vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.0520vw;
    border: none;
}

.explore-software-btn {
    border-radius: .78125vw;
    border: 1px solid #94ACE8;
    border-radius: .78125vw;
    color: #94ACE8;
    text-align: center;
    font-family: Gordita;
    font-size: 1.302083vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    background: none;
    cursor: pointer;
    width: 14.739583vw;
    height: 4.895833vw;
}

.text-no-credit-card {
    margin-left: 8.020833vw;
    color: #F2F3FE;
    font-family: Gordita;
    font-size: 1.041667vw;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -.8px;
    opacity: 0.5;
}

.patients-container1 {
    margin: 4.114583vw 0 0 5.989583vw;
}

.content2-container1 {
    width: 34.166667vw;
    height: 43.28125vw;
    border-radius: 1.822917vw;
    background: linear-gradient(149deg, #94ACE8 21.11%, #FFF 39.18%, #D9E6FD 52.6%);
}

.card__bullets {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.card__bullet__btn {
    width: 2.916667vw;
    height: 2.916667vw;
    position: absolute;
    margin: .104167vw .520833vw 0 0;
    cursor: pointer;
}

.svg-backgroung-card1 {
    width: 18.645833vw;
    height: 12.604167vw;
}

.content-card1 {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.content-card1 img {
    width: 10.625vw;
    height: 3.063542vw;
    margin: 1.302083vw 0 .18px 1.614583vw;
}
.content-card1 h2 {
    color: #2856AD;
    font-family: "PP Neue Montreal";
    font-size: 2.833333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 123.565%;
    letter-spacing: -.113333vw;
    margin-left: 1.666667vw;
}
.content-card1 h3 {
    color: #2856AD;
    font-family: "PP Neue Montreal";
    font-size: 3.628333vw;
    font-style: italic;
    font-weight: 400;
    line-height: 123.565%;
    letter-spacing: -.145156vw;
    margin: -.885417vw 0 0 5.833333vw;
}

.title-content3 {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7.083333vw;
    color: #94ACE8;
    font-family: Gordita;
    font-size: 4.166667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.166667vw;
}
.title-content3 span {
    color: #94ACE8;
    font-family: Gordita;
    font-size: 4.166667vw;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.2px;
}

.content3-logo-plans {
    width: 100vw;
    height: 32.604167vw;
}
.content3-logo-plans svg {
    width: 100vw;
    height: 32.604167vw;
}

.title-content4-container1 {
    color:  #152D5A;
    font-family: Gordita;
    font-size: 3.385417vw;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -.135417vw;
    margin: 3.645833vw 0 5.3125vw 40.833333vw;
}
.title-content4-container1 span {
    color: #152D5A;
    font-family: Gordita;
    font-size: 3.385417vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -.135417vw;
}

.img-content4-container1 img {
    width: 40.520833vw;
    height: 30.729167vw;
}

.img-text-content4-container1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 6.822917vw;
}

.text-content4-container1 {
    margin-left: 9.479167vw;
}
.text-content4-container1 h3 {
    color: #94ACE8;
    font-family: Gordita;
    font-size: 2.083333vw;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -.083333vw;
}

.all-text-content4 {
    margin-left: .15625vw;
}

.text1-content4-container1 {
    display: flex;
    flex-direction: row;
    gap: .520833vw;
    margin-top: 2.8125vw;
}
.text1-content4-container1 svg {
    width: 1.770833vw;
    height: 1.770833vw;
}
.text1-content4-container1 p {
    color: #707C93;
    font-family: "PP Neue Montreal";
    font-size: 1.666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.text2-content4-container1 {
    display: flex;
    flex-direction: row;
    gap: .520833vw;
    margin: 2.8125vw 0 4.322917vw 0;
}
.text2-content4-container1 svg {
    width: 1.770833vw;
    height: 1.770833vw;
}
.text2-content4-container1 p {
    color: #707C93;
    font-family: "PP Neue Montreal";
    font-size: 1.666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.text3-content4-container1 {
    display: flex;
    flex-direction: row;
    gap: .520833vw;
}
.text3-content4-container1 svg {
    width: 1.770833vw;
    height: 1.770833vw;
}
.text3-content4-container1 p {
    color: #707C93;
    font-family: "PP Neue Montreal";
    font-size: 1.666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
/* Container1 End */

/* Container2 */
.background-content-container2 {
    background: linear-gradient(101deg, #FFF 3.27%, #B7D0FF 27.11%, #D9E6FD 75.74%);
    border: 1px solid rgba(31, 66, 131, 0.25);
    width: 95.260417vw;
    height: 132.5vw;
    border-radius: 1.822917vw;
    opacity: 0.25;
    margin: 5.677083vw 0 0 2.34375vw;
}

.content-container2 {
    padding-top: 5.677083vw;
}
.content1-container2 {
    position: absolute;
    margin: 5.677083vw 0 2.34375vw;
    width: 95.260417vw;
    height: 132.5vw;
    z-index: 1;
    margin-left: 2.34375vw;
}

.title-content1-container2 {
    color: #0B1831;
    text-align: center;
    font-family: Gordita;
    font-size: 5.208333vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -.208333vw;
    margin-top: 5.989583vw;
}
.title-content1-container2 span {
    color: #0B1831;
    font-family: Gordita;
    font-size: 5.208333vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -.208333vw;
}

.text1-content1-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6.25vw;
    margin: 7.708333vw 0 5vw 8.125vw;
}

.title-text1-content1-container2 {
    display: flex;
    flex-direction: column;
    gap: 1.145833vw;
}
.title-text1-content1-container2 h3 {
    color: #94ACE8;
    font-family: Gordita;
    font-size: 2.1875vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -.0875vw;
}
.title-text1-content1-container2 p {
    color: #707C93;
    font-family: "PP Neue Montreal";
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 37.96875vw;
}

.img-text1-content1-container2 {
    width: 34.166667vw;
    height: 24.739583vw;
    border-radius: 1.5625vw;
    background: var(--gradient, linear-gradient(101deg, #FFF 3.27%, #B7D0FF 27.11%, #D9E6FD 75.74%));
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.img-text1-content1-container2 img {
    width: 45.78125vw;
    height: 30.520833vw;
} 

.text2-content1-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6.25vw;
    margin: 0 0 0 8.125vw;
}

.title-text2-content1-container2 {
    display: flex;
    flex-direction: column;
    gap: 1.145833vw;
}
.title-text2-content1-container2 h3 {
    color: #94ACE8;
    font-family: Gordita;
    font-size: 2.1875vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -.0875vw;
}
.title-text2-content1-container2 p {
    color: #707C93;
    font-family: "PP Neue Montreal";
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 37.96875vw;
}

.img-text2-content1-container2 {
    width: 34.166667vw;
    height: 24.739583vw;
    border-radius: 1.5625vw;
    background: var(--gradient, linear-gradient(101deg, #FFF 3.27%, #B7D0FF 27.11%, #D9E6FD 75.74%));
    display: flex;
}
.img-text2-content1-container2 img {
    border-radius: 1.5625vw;
}

.text3-content1-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6.25vw;
    margin: 5.46875vw 0 9.270833vw 8.125vw;
}

.title-text3-content1-container2 {
    display: flex;
    flex-direction: column;
    gap: 1.145833vw;
}
.title-text3-content1-container2 h3 {
    color: #94ACE8;
    font-family: Gordita;
    font-size: 2.1875vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -.0875vw;
}
.title-text3-content1-container2 p {
    color: #707C93;
    font-family: "PP Neue Montreal";
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 37.96875vw;
}

.img-text3-content1-container2 {
    width: 34.166667vw;
    height: 24.739583vw;
    border-radius: 1.5625vw;
    background: var(--gradient, linear-gradient(101deg, #FFF 3.27%, #B7D0FF 27.11%, #D9E6FD 75.74%));
    display: flex;
    flex-direction: column-reverse;
}

.img-text3-content1-container2 img {
    width: 17.291667vw;
    height: 27.552083vw;
    margin-bottom: -.989583vw;
}

.buttons-content1-container2 {
    gap: 1.302083vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 33.28125vw;
}
.buttons-content1-container2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.197917vw;
}
.buttons-content1-container2 p {
    color: #707C93;
    font-family: Gordita;
    font-size: 1.041667vw;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -.8px;
    opacity: 0.5;
    margin-left: 8.776042vw;
}

.button1-content1-container2 {
    width: 12.8125vw;
    height: 4.895833vw;
    padding: 1.041667vw 2.5vw;
    justify-content: center;
    align-items: center;
    gap: .520833vw;
    border-radius: 15px;
    background: #1F4283;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Gordita;
    font-size: 1.302083vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    border: none;
    cursor: pointer;
}

.button2-content1-container2 {
    width: 14.739583vw;
    height: 4.895833vw;
    display: flex;
    padding: 1.041667vw 2.5vw;
    justify-content: center;
    align-items: center;
    gap: .520833vw;
    border-radius: .78125vw;
    border: 1px solid #94ACE8;
    cursor: pointer;
    color: #94ACE8;
    text-align: center;
    font-family: Gordita;
    font-size: 1.302083vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
}

.content2-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-bottom: 7.083333vw;
}

.tittle-content2-container2 {
    color: #152D5A;
    font-family: Gordita;
    font-size: 4.6875vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -.1875vw;
    margin: 7.03125vw 0 4.84375vw 0;
    text-align: center;
}
.tittle-content2-container2 span {
    color: #152D5A;
    font-family: Gordita;
    font-size: 4.6875vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -.1875vw;
}

.all-doctors-cards-container {
    display: flex;
    flex-direction: row;
    gap: 1.875vw;
    align-items: center;
}

.doctors-cards-container {
    display: flex;
    padding: 4.895833vw 3.229167vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125vw;
    border-radius: 1.5625vw;
    border: .5px solid #1F4283;
    background: linear-gradient(101deg, rgba(255, 255, 255, 0.25) 3.27%, rgba(183, 208, 255, 0.25) 27.11%, rgba(217, 230, 253, 0.25) 75.74%);
    width: 28.90625vw;
    height: 26.979167vw;
}

.doctors-card1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-content2-container2 {

}
.img-content2-container2 img {
    width: 6.25vw;
    height: 6.25vw;
}

.svg-doctors-card1-container svg {
    width: 3.802083vw;
    height: 2.34375vw;
    margin: .520833vw 0 .260417vw 0;
}

.info-doctors-content2-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.span1-info-doctors-content2-container2{
    color: #707C93;
    text-align: center;
    font-family: "PP Neue Montreal";
    font-size: 1.041667vw;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.span2-info-doctors-content2-container2{
    color: #152D5A;
    text-align: center;
    font-family: Gordita;
    font-size: 1.770833vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 1.197917vw;
}
/* Container2 End */

/* Home End */

/* Your Style */